<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573422592147-7nb4btrdt7fctltkr9027ql1pi51onvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573422592147-7nb4btrdt7fctltkr9027ql1pi51onvg</string>
	<key>API_KEY</key>
	<string>AIzaSyCaqubZD2GQE8YxmfZv3m6_mamKdx3lc1M</string>
	<key>GCM_SENDER_ID</key>
	<string>573422592147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangjoonpark.StudioLeafPortal</string>
	<key>PROJECT_ID</key>
	<string>studioleafportal</string>
	<key>STORAGE_BUCKET</key>
	<string>studioleafportal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573422592147:ios:40729b330c9a117f836d66</string>
</dict>
</plist>